@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import '@fortawesome/fontawesome-svg-core/styles.css';

:root {
  --background-color: #fff;
  --text-color: #000;
}

[data-theme='dark'] {
  --background-color: #3b3363;
  --text-color: #fff;
  ---border-color: #473f72;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: #473f72;
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}
