.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 1.25rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}
